body{
    cursor: none;
    overflow: hidden;
}

.edit-cursor{
    width: 30px;
    height: 30px;
    border: 4px solid #B1A7A680;
    backdrop-filter: blur(2px);
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

@media only screen and (max-width: 768px){
    body{
        cursor: auto;
    }
    
    a:hover{
        cursor: pointer;
    }

    .edit-cursor{
        display: none;
    }

    .drop-down button:hover{
        cursor: pointer;
    }
}