/* font-family: 'Lalezar', cursive;
font-family: 'Roboto', sans-serif; */

*,
::before,
::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #161A1D;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

a, button{
    cursor: none;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100vh;
    user-select: none;
}

.item li{
    list-style: none;
    text-align: center;
}

.item a{
    text-decoration: none;
    color: #fff;
    font-family: 'Lalezar', cursive;
    font-size: 2.5rem;
    transition: 0.25s;
}

.item a:hover{
    letter-spacing: 1rem;
    color: #E5383B;
    text-shadow: 0 0 8px #E5383B;
    transition: 0.25s;
}

#project{
    color: #B1A7A6;
}

#project:hover{
    letter-spacing: 0;
    color: #B1A7A6;
    text-shadow: 0 0 0 #B1A7A6;
}

.drop-down{
    position: fixed;
    top: 2rem;
    left: 2rem;
    display: flex;
    flex-direction: column;
    display: inline-block;
}

.drop-down button{
    background: #E5383B;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
}

.drop-down-content{
    display: none;
    position: absolute;
    z-index: 1;
}

.drop-down-content a{
    display: block;
    background: #ffff;
    color: black;
    padding: 10px 42px;
}

.drop-down-content a:hover{
    background: #F5F3F4;
}

.drop-down:hover .drop-down-content{
    display: block;
}